html, body, .row-fluid
  height: 100%

#wrap
  height: 76%

.container
  min-height: 100%
  height: auto
  //width: 1000px
  margin: 0 auto 50px
  padding: 0px

.container-fluid
  //width: 1000px
  margin: 0 auto
  float: none

.buffer
  height: 15px

footer
  height: 30px
  clear: both

.navbar-default
  border-radius: 0px

.navbar-brand
  font-size: 26px
  line-height: 26px
  height: 60px

.navbar-header
  width: 100%
.nav.navbar-nav li a

  line-height: 39px
  height: 59px
  font-size: 17px

nav.navbar
  height: 60px

.alert .close
  color: black
  right: 0px

a
  margin-right: 10px

$str: all 0.2s ease-in-out 0.1s
.btn, .btn:hover
  -webkit-transition: $str
  -moz-transition: $str
  -o-transition: $str
  transition: $str
